@import url('https://fonts.googleapis.com/css2?family=Tilt+Neon&display=swap');

body {
    background-color: #FFE15D;
    margin: 0;
    animation: fadein 2s;
}

@keyframes fadein {
    from {
        opacity: 0;
        margin-top: 50px
    }

    to {
        opacity: 1;
        margin-top: unset
    }
}

div {
    font-family: 'Tilt Neon', cursive;
}

* {
    text-transform: uppercase;
}

.reactionary {
    margin-top: 7.75vh;
}

.red {
    /* position: relative; */
    padding: 3vh 0;
    background-color: #F94A29;
    margin-bottom: 1.75vh;
}

p,
h1,
h2,
a {
    text-align: center;
    font-size: 30px;
    color: #b16c04;
}

p {
    color: #bd7100;
}

a {
    font-size: 15px;
    color: rgb(13, 34, 218);
    text-decoration: none;
    margin: 0 35%;
    padding: 1px 6px;
}

a:hover {
    color: red;
}

.result {
    text-align: center;
}

button {
    font-size: 20px;
    background-color: #DC3535;
    color: antiquewhite;
    border: 2px solid transparent;
    border-radius: 15px;
    /* width: 170px; */
}

.header {
    margin: 10px 0;
}

.btn-group {
    display: flex;
    align-items: center;
    /* margin: 100; */
}

@media all and (max-width:900px){
    .btn-group{
        flex-direction: column;
    }
}

@media all and (min-width:900px){
    .btn-group{
        justify-content: space-around;
    }
}

.btn-group img {
    margin-bottom: 10px;
}

.piggy {
    text-align: center;
    display: flex;
    flex-direction: column;
    width:300px;
    margin-bottom: 50px;
    justify-content: center;
}

button {
    padding: 9px 20px;
}

.hidden {
    display: none;
}

.hidden h2 {
    color: #F49D1A;
}

.hide {
    display: none !important;
}

.result-box {
    margin-top: 100px;
    display: flex;
    flex-direction: column;
}

.react,
.react:hover {
    background-color: transparent;
}

.react {
    color: blue;
    font-size: 5px;
    margin: 0 42%;
}

.react:hover {
    color: red;
}

.piggies {
    cursor: pointer;
    transition: all 0.5s;
}

button{
    font-family: inherit;
}

.piggies:active {
    transform: scale(0.9);
}